@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .header-title{
        left: 38%;
    }
    main{
        width: 95%;
    }
}
/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    .header-title{
        left: 32%;
        font-size: 24px;
    }
}

/* Portrait and Landscape */
@media only screen
and (device-width: 360px)
and (device-height: 640px) {
    .advanced-filters{
        padding-left: 0px;
        padding-top: 10px;
    }

    .collapsed-employee-infos{
        font-size: 13px;
    }

    .employees-table{
        font-size: 13px;
        padding-top: 0;
    }

    .employee-header{
        width: 800px;
    }

    .employees-selection #select-filter-by,
     #select-show{
        width: 100%;
        margin-bottom: 12px;
    }

    .employees-table{
        overflow-x: auto;
        border: 1px solid #cecece;
    }

    .header-title{
        left: 18%;
        font-size: 20px;
    }

    .header-right-icons img {
        height: 26px;
    }

    .header-form{
        height: 256px;
        padding: 26px;
    }

    .header-form input,
    .header-form select{
        height: 168%;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        margin-right: 0;
    }

    .nav-menu-select img{
        height: 18px;
        padding-top: 3px;
    }

    main{
        width: 92%;
    }

    .pagination{
        padding: 20px 8px 20px 8px;
    }

    .pagination a{
        padding: 5px 5px;
    }

    .pagination li > a{
        font-size: 13px;
    }

    .pagination li{
        display: table-cell;
        width: auto;
        padding: 0px;
        border: 1px solid gray;
        height: 30px;
    }

    .row {
        min-height: 36px;
    }
    #table-wrapper {
        width: 800px;
    }
}

/* Landscape */
@media only screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {
    .header-title{
        left: 30%;
        font-size: 22px;
    }
}
