/*************HEADER***************/

.header{
    width: 100%;
}

.nav-menu-select{
    float:left;
}

.header-title{
    position: absolute;
    color: red;
    font-size: 25px;
    left: 44%;
    background: url("../img/imageBox.jpg") no-repeat center left;
    padding-left: 30px;
}

.header-right-icons{
    float:right;
}

.header-right-icons img{
    height: 45px;
}

.header-form{
    clear: both;
    background-color: rgb(229, 223, 223);
    height: 135px;
}

.header-form {
    text-align: center;
    padding: 38px;
    box-sizing: border-box;
    margin: 0px auto;
}

.header-form input,
.header-form select {
    height: 38px;
    width: 298px;
    border-radius: 10px;
    background-color: rgb(236, 16, 16);
    color: white;
    font-size: 17px;
    border: none;
    box-sizing: border-box;
    padding: 6px;
    margin-right: 20px;
}

#search-button{
    margin-right: 0px;
}

form #select-job-title,
#select-allocation-status,
#insert-input-name{
    font-size: 15px;
    background-color: white;
    border-radius: 8px;
    color: gray;
}

.advanced-filters{
    color: rgb(103, 103, 103);
    font-size: 17px;
    padding-left: 48px;
    padding-top: 12px;
}

/****************MAIN CONTENT*************************/

.main-content{
    width: 1265px;
    margin: 0px auto;
}

.main-content-informations{
    padding-top: 22px;
    height: auto;
    overflow: hidden;
}

.employees-selection{
    float: right;
}

.employees-name{
    float: left;
    color: rgb(111, 108, 108);
    font-size: 20px;
}

.employees-selection #select-filter-by, #select-show{
    height: 38px;
    width: 194px;
    border-radius: 8px;
    color: gray;
    font-size: 15px;
}

.employees-table{
    margin: auto;
    padding-top: 30px;
}

.first-employee-div,
.second-employee-div,
.third-employee-div,
.fourth-employee-div,
.fifth-emloyee-div,
.sixth-employee-div,
.sevth-employee-div,
.eigth-employee-div,
.ninth-employee-div,
.collapsed-employee-infos{
    display:table;
    width: 100%;
    border-bottom: 1px solid rgb(208, 207, 207);
}

.collapsed-employee-infos{
    border-bottom: none;
    font-size: 15px;
}

.page-numbers{
    text-align: center;
    padding-top: 45px;
}

.employees-table ul,
.page-numbers ul{
    list-style-type: none;
}

.page-numbers ul{
    margin: 0;
    padding: 0;
    border: 1px solid rgb(190, 185, 185);
    display: inline-block;
}

.page-numbers ul li{
    display: inline-block;
    border-right: 1px solid rgb(190, 185, 185);
    height: 36px;
    width: 40px;
}

.page-numbers ul li a{
    text-decoration: none;
    color: gray;
    padding: 8px;
    display: block;
}

.first-employee-div span,
.second-employee-div span,
.third-employee-div span,
.fourth-employee-div span,
.fifth-emloyee-div span,
.sixth-employee-div span,
.sevth-employee-div span,
.eigth-employee-div span,
.ninth-employee-div span,
.collapsed-employee-infos span{
    display: table-cell;
    width: 16.66%;
    padding: 10px 5px;
    color: rgb(115, 109, 109);
}

.collapsed-employee-infos span{
    width: 50%;
}

.second-employee-div li,
.third-employee-div li,
.fourth-employee-div li,
.fifth-emloyee-div li,
.sixth-employee-div li,
.sevth-employee-div li,
.eigth-employee-div li,
.ninth-employee-div li{
    display: inline-block;
}

.second-employee-div{
    border-bottom: 1px solid red;
}

.first-employee-div{
    background-color: rgb(229, 223, 223);
    color: rgb(115, 106, 106);
}

.third-employee-div{
    border-top: 1px solid rgb(208, 207, 207);;
}

.edit-employee-list a,
.collapse-employee-list a{
    height: 20px;
    width: 32px;
    display: inline-block;
}

.collapsed-employee-infos
.employee-infos-shown{
    width: 182px;
}

.edit-employee-list a{
    background: url('../img/pencil.png') no-repeat;
}

.collapse-employee-list a{
    background: url('../img/collapse.jpg') no-repeat;
}

.employees-table ul{
    margin: 0;
    padding: 0;
    width: 100px;
    right: -13px;
}

.collapsed-employee-infos input{
    float: right;
    height: 34px;
    width: 140px;
    border-radius: 6px;
    border-color: rgb(236, 16, 16);
    background-color: white;
    color: rgb(236, 16, 16);
    border-width: 1px;
}

#inactive-button{
    border-color:gray;
    color:gray;
    margin-top: -24px;
}

#active-button{
    margin-top: -6px;
}
